<div class="container">

<h1>Lawyers</h1>

	<% @lawyers.each do |lawyer| %>
		<div class="lawyer">
			<h2><%= link_to lawyer.first_name + " " + lawyer.last_name, lawyer_path(lawyer) %> </h2>
			<div class="column"><img class="image" src="<%= lawyer.image_url %>" alt="image for laywer" width="150px">
			</div>

		<h3>Location: <%= lawyer.location %> </h3>
		<h3>Practice Areas: <%= lawyer.practice_areas %> </h3>
		<h3>Years Experience: <%= lawyer.years_experience%> </h3>
		<div class="clearfix"></div>
	</div>
	<% end %>
</div>