<div class="lawyer">
<h1>Create a New Attorney Account</h1>
<%= simple_form_for @lawyer do |f| %>
  <%= f.input :first_name, label: 'First Name', error: 'Username is mandatory, please specify one' %>
  <%= f.input :last_name, label: 'Last Name', error: 'Username is mandatory, please specify one' %>
  <%= f.input :location, label: 'Location', error: 'Username is mandatory, please specify one' %>
  <%= f.input :years_experience, label: 'Years Experience', error: 'Username is mandatory, please specify one' %>
 <%= f.input :practice_areas, label: 'Practice Areas', error: 'Username is mandatory, please specify one' %>
  <%= f.button :submit, "Create Account", class: "button" %>
<% end %>
</div>