<div class="lawyer">
	<h2><%= link_to @lawyer.first_name + " " + @lawyer.last_name, lawyer_path(@lawyer) %> </h2>
	<div class="column"><img class="image" src="<%= @lawyer.image_url %>" alt="image for laywer" width="150px">
			</div>
	<h2>Location: <%= @lawyer.location %> </h2>
	<h2>Practice Areas: <%= @lawyer.practice_areas %> </h2>
	<h2>Years Experience: <%= @lawyer.years_experience%> </h2>
	<h3>Email: <%= @lawyer.email %></h3></div>
</div>