<div class="container">

<h1>Clients</h1>
	<% flash.each do |key, value| %>
	<div class="<%= flash_class(key) %>" >
		<%= value %>
	</div>
	<% end %>

	<% @clients.each do |client| %>
		<div class="client">
			<h2><%= link_to client.first_name + " " + client.last_name, client_path(client) %> </h2>
			<div class="column"><img class="image" src="<%= client.image_url %>" alt="image for client" width="150px" height="150px">
			</div>

		<h2>Location: <%= client.location %> </h2>
		<h2>Legal Issue: <%= client.description%> </h2>
		<b>Email:</b> <%= client.email %></div>
		<div class="clearfix"></div>
	</div>
	<% end %>
</div>